---
layout: base.njk
title: Table of Contents
---

<article class="chapter">
  <h1>{{ site.title }}</h1>
  <p class="lead">{{ site.description }}</p>

  <ol class="toc">
    {% for chapter in collections.chapters %}
      <li>
        <a href="{{ chapter.url | url }}">{{ chapter.data.title }}</a>
        {% if chapter.data.summary %}
          <p class="toc-summary">{{ chapter.data.summary }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</article>
